/*简约输入框样式*/
.custom-input-box {
  width: 300px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  outline: none;
  padding: 0 15px;
  color: #606266;
}
.custom-input-box:focus {
  border-color: #409eff;
}
::-webkit-input-placeholder {
  color: #C0C4CC;
}
 .select {
      border: 1px solid #bdb2b2;
      border-radius: 10px;
      /*清除select聚焦时候的边框颜色*/
      outline: none;
      /*设置select的宽高*/
      width: 100px;
      height: 40px;
      line-height: 40px;
      /*隐藏select的下拉图标*/
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      /*通过padding-left的值让文字处于合适位置*/
      padding-left: 20px;
      /* 设置下拉图标 */
      background: url("1.png") no-repeat right center transparent;
    }