*{
    padding: 0;
    margin: 0;
    color: #eee;
    user-select: none;
}
body {
    background: #bebebe;
    background-image: url(../images/background2.jpg);
}
ul {
    list-style: none;
}
li {
    position: absolute;
    display: inline-block;
}
.wrapper {
    overflow: hidden;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 50px;
}
.timeBox {
    margin: 5px auto;
    width: 800px;
    height: 800px;
    /* background: #ccc; */
    position: relative;
}
.wrapper .workTitle {
    color: #878787;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 2em;
    letter-spacing: .3em;
}
.wrapper .one-text {
    color: #dbdbdb;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    text-shadow: 8px 7px 4px rgba(100,150,200,0.8);
    letter-spacing: .2em;
}
.timeBox .week-wrapper {
    transition: 1s;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 300px;
    left: 300px;
    z-index: 9;
}
.timeBox .week-wrapper .week-content li {
    width: 50px;
}
.timeBox .hours-wrapper {
    transition: ease 1s;
    position: absolute;
    width: 350px;
    height: 350px;
    top: 225px;
    left: 225px;
    z-index: 8;
}
.timeBox .hours-wrapper .hours-content li {
    width: 50px;
}
.timeBox .minutes-wrapper {
    transition: 1s;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 150px;
    left: 150px;
    z-index: 7;
}
.timeBox .minutes-wrapper .minutes-content li {
    width: 50px;
}
.timeBox .seconds-wrapper {
    transition: all 1s linear;
    position: absolute;
    width: 650px;
    height: 650px;
    top: 75px;
    left: 75px;
    z-index: 6;
}
.timeBox .seconds-wrapper .seconds-content li {
    transition: .5s;
    width: 50px;
}
.timeBox .year-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    z-index: 10;
}
.timeBox .year-wrapper p {
    text-align: center;
    line-height: 80px;
    font-size: 18px;
    font-weight: bold;
}
.timeBox .year-wrapper::after {
    content:"";
    display: block;
    width: 300px;
    height: 26px;
    /* background:rgba(139,90,43); */
    /* border:1px solid #aaa;
    border-radius: 3px; */
    position: absolute;
    top:27px;
    left: 80px;
}
.active {
    /* color: rgb(139,90,43); */
    color: #FF7F00;
}
@media screen and (max-width:700px) {
    .wrapper .timeBox {
        top: -8%;
        left: -100%;
    }
}